{% include "templates/header.html.twig" %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuilderStorm Learning</title>
</head>
<body>
    <div class="container">
        <div class="row  pt-5">
           <div class="col-sm-6">
                <h3>User Management</h3>
           </div>
            <div class="col-sm-6 text-end">
                <a href="../admin/create_user.php"><button class="btn btn-dark">Create User</button></a>
            </div>
        </div><hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hovered">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email Id</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key,user in data %}
                                <tr>
                                    <td>{{user['first_name']}}</td>
                                    <td>{{user['last_name']}}</td>
                                    <td>{{user['email']}}</td>
                                    <td>
                                        <button class="btn btn-primary">Edit</button>
                                        <button class="btn btn-danger">Delete</button>
                                        <button class="btn btn-dark">Block</button>
                                        <button class="btn btn-success">Assign project</button>
                                    </td>
                                </tr>
                        {% endfor %}
                        <tr></tr>
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
{% include "templates/footer.html.twig" %}




 
    
   