{% include "templates/header.html.twig" %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuilderStorm Learning</title>
</head>
<body>
    <div class="container">
        <div class="row  pt-5">
           <div class="col-sm-6">
                <h3>User Management</h3>
           </div>
            <div class="col-sm-6 text-end">
                <a href="../admin/create_user.php"><button class="btn btn-dark">Create User</button></a>
            </div>
        </div><hr />
    </div>
</body>
</html>
{% include "templates/footer.html.twig" %}




 
    
   